/* --- from: tokcss\main.tokcss --- */
:root {
  --container-width:90rem;
}

@layer reset {
  /* --- from: tokcss\includes\reset.tokcss --- */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, nav ul, nav li, form, label,
  article, aside, canvas, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
  	display: block;
  }
  body {
  	line-height: 1;
  }
  nav ul {
  	list-style: none;
  }
  blockquote, q {
  	quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  	content: '';
  	content: none;
  }
  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }
}

@layer base {
  /* --- from: tokcss\includes\base.tokcss --- */
  *,*::before,*::after {
    box-sizing:border-box;
  }

  html {
    color-scheme: dark;
    font-family:system-ui;
    interpolate-size: allow-keywords;
  }

  body {
    min-block-size:100svb;
  }

  .layout {
    inline-size: min(var(--container-width), 100% - 3em);
    inline-size: calc-size(stretch, min(var(--container-width), size - 3em));
    margin-inline:auto;
    margin-block:6em;
    min-block-size:5rem;
    display: flex;
    gap:1em;
    > * {
      background: hsl(228 8% 13%);
      border-radius: .5rem;
    }
  }
}

@layer header {
  /* --- from: tokcss\includes\header.tokcss --- */
  .user-options-dropdown {
    --transition-easing:linear(0, 0.01 0.7%, 0.046 1.5%, 0.192 3.2%, 0.391 4.8%, 0.954 8.8%, 1.201 11%, 1.347 13%, 1.388 14%, 1.41 15.1%, 1.411 15.9%, 1.4 16.8%, 1.342 18.6%, 1.256 20.3%, 1.013 24.5%, 0.913 26.7%, 0.857 28.6%, 0.831 30.6%, 0.833 32.1%, 0.851 33.7%, 1.024 41.6%, 1.055 43.8%, 1.069 46%, 1.061 49.3%, 0.991 57.1%, 0.972 61.4%, 0.974 64.8%, 1.011 76.7%, 0.996 91.2%, 1);
    margin: 0;
    margin-block-start: 1em;
    position-area: block-end span-inline-start;
    list-style: none;
    padding-inline: .5em;
    background: hsl(0 0% 15%);
    border: 1px solid hsl(0 0% 25%);
    border-radius: .5rem;
    overflow: clip;
    block-size: 0;
    opacity: 0;
    translate:0 -100%;
    transition:
      block-size .5s,
      opacity .5s,
      translate .5s linear,
      display .5s allow-discrete,
      overlay .5s allow-discrete;
    &:popover-open {
      block-size: calc-size(auto, size);
      opacity: 1;
      translate:0;
      transition:
        block-size .5s,
        opacity 1.5s,
        translate 1.5s var(--transition-easing),
        display 1.5s allow-discrete,
        overlay 1.5s allow-discrete;
      @starting-style {
        block-size: 0;
        opacity: 0;
        translate:0 -100%;
      }
    }
    li {
      & + & {
        border-block-start: 1px solid hsl(0 0% 25%);
      }
      a {
        display: block;
        padding: 1em;
        text-decoration: none;
        color: inherit;
      }
    }
  }

  header {
    background: hsl(0 0% 15%);
    border-block-end:3px solid hsl(200 100% 50%);
    a {
      display: block;
      text-decoration:none;
      color: inherit;
      outline:none;
    }
    .navbar-wrapper {
      inline-size: min(var(--container-width), 100% - 3em);
      inline-size: calc-size(stretch, min(var(--container-width), size - 3em));
      margin-inline:auto;
      display: flex;
      justify-content:space-between;
      .navbar-brand {
        font-size: 1.5rem;
        padding: .5em;
        font-weight: bold;
      }
      .nav-container {
        display: flex;
        gap:1em;
        .user-options {
          img {
            border-radius: 50%;
          }
        }
        nav {
          position: relative;
          ul {
            display: flex;
            gap:.5em;
            li {
              a {
                padding-inline: 1.5em;
                padding-block:.7em;
                margin-block:.3em;
                background: hsl(0 0% 12%);
                border-radius: .5rem;
                border:1px solid hsl(0 0% 20%);
                font-weight: 500;
                transition:background .5s;
                &:hover {
                  background: hsl(200 100% 50%);
                }
              }
            }
          }
        }
      }
    }
    .toggle-nav {
      display: none;
      font-size: 2rem;
      aspect-ratio:1;
      align-self:center;
    }
    button {
      padding: 0;
      border:none;
      cursor:pointer;
      background: none;
    }
  }
}

@layer sidenav {
  /* --- from: tokcss\includes\sidenav.tokcss --- */
  aside {
    inline-size:20rem;
    padding-block-end:3em;
    overflow:clip;
    ul {
      li {
        position: relative;
        & + & {
          border-block-start:1px solid hsl(231 7% 19%);
        }
        a {
          display: block;
          padding: 1em;
          color: inherit;
          text-decoration:none;
          transition:padding .5s;
          &::before {
            position: absolute;
            content:"";
            inset-block:0;
            inset-inline-start:0;
            inline-size:4px;
            background: hsl(200 100% 50%);
            opacity:0;
            transition:opacity .5s;
          }
          &:hover {
            padding-inline-start:2em;
            &::before {
              opacity:1;
            }
          }
        }
      }
    }
  }
}

@layer main {
  /* --- from: tokcss\includes\main-content.tokcss --- */
  main {
    flex:1;
    padding: 1em;
  }
}

@media (width <= 40rem) {
  /* --- from: tokcss\includes\mobile.tokcss --- */
  header {
    position: relative;
    nav {
      display: none;
      position: absolute;
      inset-block-start:100%;
      inset-inline:0;
      ul {
        flex-direction:column;
        gap:0;
        li {
          a {
            margin: 0;
            border-radius: 0;
          }
        }
      }
    }
    .toggle-nav {
      display: block;
    }
    .user-options {
      display: none;
    }
    &:has(.toggle-nav[aria-expanded=true]) nav {
      display: block;
    }
  }
}

