/* --- from: tokcss\main.tokcss --- */
:root {
  --container-width:90rem;
}

@layer reset {
  /* --- from: tokcss\includes\reset.tokcss --- */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, nav ul, nav li, form, label,
  article, aside, canvas, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
  	display: block;
  }
  body {
  	line-height: 1;
  }
  nav ul {
  	list-style: none;
  }
  blockquote, q {
  	quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  	content: '';
  	content: none;
  }
  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }

  button {
  	cursor:pointer;
  }
}

@layer base {
  /* --- from: tokcss\includes\base.tokcss --- */
  *,*::before,*::after {
    box-sizing:border-box;
  }

  html {
    color-scheme: dark;
    font-family:system-ui;
    interpolate-size: allow-keywords;
  }

  body {
    min-block-size:100svb;
  }

  .layout {
    inline-size: min(var(--container-width), 100% - 3em);
    inline-size: calc-size(stretch, min(var(--container-width), size - 3em));
    margin-inline:auto;
    margin-block:6em;
    min-block-size:5rem;
    display: flex;
    align-items:start;
    gap:1em;
  }
}

@layer header {
  /* --- from: tokcss\includes\header.tokcss --- */
  .user-options-dropdown {
    --transition-easing:linear(0, 0.01 0.7%, 0.046 1.5%, 0.192 3.2%, 0.391 4.8%, 0.954 8.8%, 1.201 11%, 1.347 13%, 1.388 14%, 1.41 15.1%, 1.411 15.9%, 1.4 16.8%, 1.342 18.6%, 1.256 20.3%, 1.013 24.5%, 0.913 26.7%, 0.857 28.6%, 0.831 30.6%, 0.833 32.1%, 0.851 33.7%, 1.024 41.6%, 1.055 43.8%, 1.069 46%, 1.061 49.3%, 0.991 57.1%, 0.972 61.4%, 0.974 64.8%, 1.011 76.7%, 0.996 91.2%, 1);
    margin: 0;
    margin-block-start: 1em;
    position-area: block-end span-inline-start;
    list-style: none;
    padding-inline: .5em;
    background: hsl(0 0% 15%);
    border: 1px solid hsl(0 0% 25%);
    border-radius: .5rem;
    overflow: clip;
    block-size: 0;
    opacity: 0;
    translate:0 -100%;
    transition:
      block-size .5s,
      opacity .5s,
      translate .5s linear,
      display .5s allow-discrete,
      overlay .5s allow-discrete;
    &:popover-open {
      block-size: calc-size(auto, size);
      opacity: 1;
      translate:0;
      transition:
        block-size .5s,
        opacity 1.5s,
        translate 1.5s var(--transition-easing),
        display 1.5s allow-discrete,
        overlay 1.5s allow-discrete;
      @starting-style {
        block-size: 0;
        opacity: 0;
        translate:0 -100%;
      }
    }
    li {
      & + & {
        border-block-start: 1px solid hsl(0 0% 25%);
      }
      a {
        display: block;
        padding: 1em;
        text-decoration: none;
        color: inherit;
      }
    }
  }

  header {
    background: hsl(0 0% 15%);
    border-block-end:3px solid hsl(200 100% 50%);
    a {
      display: block;
      text-decoration:none;
      color: inherit;
      outline:none;
    }
    .navbar-wrapper {
      inline-size: min(var(--container-width), 100% - 3em);
      inline-size: calc-size(stretch, min(var(--container-width), size - 3em));
      margin-inline:auto;
      display: flex;
      justify-content:space-between;
      .navbar-brand {
        font-size: 1.5rem;
        padding: .5em;
        font-weight: bold;
      }
      .nav-container {
        display: flex;
        gap:1em;
        .user-options {
          img {
            border-radius: 50%;
          }
        }
        nav {
          position: relative;
          ul {
            display: flex;
            gap:.5em;
            li {
              a {
                padding-inline: 1.5em;
                padding-block:.7em;
                margin-block:.3em;
                background: hsl(0 0% 12%);
                border-radius: .5rem;
                border:1px solid hsl(0 0% 20%);
                font-weight: 500;
                transition:background .5s;
                &:hover {
                  background: hsl(200 100% 50%);
                }
              }
            }
          }
        }
      }
    }
    .toggle-nav {
      display: none;
      font-size: 2rem;
      aspect-ratio:1;
      align-self:center;
    }
    button {
      padding: 0;
      border:none;
      cursor:pointer;
      background: none;
    }
  }
}

@layer sidenav {
  /* --- from: tokcss\includes\sidenav.tokcss --- */
  aside {
    inline-size:20rem;
    display: grid;
    gap:1em;
    nav {
      background: hsl(228 8% 13%);
      border-radius: .7rem;
      overflow:clip;
    }
    iframe {
      border-radius: .5rem;
      inline-size:100%;
      inline-size:stretch;
      border-radius: .7rem;
    }
    ul {
      li {
        position: relative;
        & + & {
          border-block-start:1px solid hsl(231 7% 19%);
        }
        a {
          display: block;
          padding: 1em;
          color: inherit;
          text-decoration:none;
          transition:padding .5s, background .5s;
          &::before {
            position: absolute;
            content:"";
            inset-block:0;
            inset-inline-start:0;
            inline-size:4px;
            background: hsl(200 100% 50%);
            opacity:0;
            transition:opacity .5s;
          }
          &:hover {
            padding-inline-start:2em;
            background-color: hsl(200 100% 50% / .05);
            &::before {
              opacity:1;
            }
          }
        }
      }
    }
  }
}

@layer main {
  /* --- from: tokcss\includes\main-content.tokcss --- */
  main {
    flex:1;
    padding: 1em;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap:1em;
    background: hsl(228 8% 13%);
    border-radius: .7rem;
    .slider {
      border:1px solid hsl(226 12% 21%);
      border-radius: .3rem;
      padding: 1em;
      display: grid;
      grid-template-columns:1fr auto;
      gap:1em;
      grid-column:1/-1;
      container-type:inline-size;
      background: 
        radial-gradient(circle at 100% 0, hsl(225 20% 30% / .25), #0000),
        linear-gradient(
          90deg, 
          hsl(225 15% 11%), 
          hsl(228 16% 12%),
          hsl(225 18% 9%)
        );
      .frame {
        .frame-content {
          .announcement-tag {
            border:1px solid hsl(194 100% 50% / .3);
            inline-size:fit-content;
            display: flex;
            padding-inline:.5em;
            padding-block:.3em;
            border-radius: calc(infinity * 1px);
            gap:.5em;
            background: hsl(194 100% 50% / .15);
            color: hsl(194 100% 50%);
            font-weight: 500;
            font-size: 0.8rem;
            margin-block-end:1em;
            &::before {
              content:"\25CF";
              text-box:trim-both cap alphabetic;
            }
          }
          h1 {
            font-weight: bold;
            font-size: 1.5rem;
            font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
          }
          p {
            color: hsl(218 11% 65%);
          }
          .button-group {
            display: flex;
            gap:1em;
            button {
              padding-inline: 1em;
              padding-block:.7em;
              border-radius: .5rem;
              border:1px solid hsl(0 0% 25%);
              &:nth-child(1) {
                background: hsl(200 100% 50%);
                border-color:#0000;
                font-weight: 600;
                color: hsl(0 0% 0%);
                font-size: .8rem;
              }
              &:nth-child(2) {
                background: hsl(224 13% 17%);
              }
            }
          }
        }
      }
      .frame-controls {
        display: grid;
        align-content:center;
        grid-template-columns:repeat(2, 1fr);
        gap:.5em;
        .bars {
          grid-column:1/-1;
          display: flex;
          gap:.2em;
          .bar {
            block-size:.2em;
            background: hsl(200 80% 60%);
            inline-size:.1em;
            flex:1;
            border-radius: calc(infinity * 1px);
            &.active {
              flex:2;
            }
          }
        }
      }
    }
    .articles {
      border:1px solid white;
      grid-column:span 2;
      border:1px solid hsl(226 12% 21%);
      border-radius: .5rem;
      background: hsl(228 8% 10%);
      .content-title {
        display: flex;
        justify-content:space-between;
        padding: 1em;
        span {
          font-weight: bold;
          text-transform:uppercase;
        }
      }
      .article-content {
        display: grid;
        grid-template-columns:auto 1fr auto auto;
        column-gap:.5em;
        .article-row {
          grid-column:1/-1;
          display: grid;
          grid-template-columns:subgrid;
          padding: .5em;
          & + & {
            border-block-start:1px solid hsl(0 0% 20%);
          }
          .title-info {
            display: grid;
            gap:.3em;
          }
          .title {
            font-weight: bold;
          }
          .article-info {
            font-size: .85rem;
            color: hsl(0 0% 50%);
            a {
              color: hsl(0 0% 60%);
              font-weight: 500;
              text-decoration:none;
            }
            .username {
              --_role:attr(data-role type(<custom-ident>));
              color: if(
                style(--_role:Admin): red;
                style(--_role:Moderator): lime;
                else: white
              );
              font-weight: bold;
            }
          }
          .profile {
            border-radius: 50%;
          }
          .badge {
            --_status:attr(data-status type(<custom-ident>));
            color: if(
              style(--_status:Upcoming): oklch(.7 .3 200);
              style(--_status:Active): oklch(.7 .3 300);
              style(--_status:Draft): oklch(.7 .3 100);
              else:white
            );
            padding: .5em;
            border:2px solid;
            border-radius: .5rem;
            justify-self:end;
            align-self:center;
            background: hsl(from currentColor h s l / .15);
          }
          .edit {
            background: none;
            border:none;
            padding-inline:1em;
            color: hsl(0 0% 50%);
          }
        }
      }
    }
    .quick-actions {
      border:1px solid hsl(226 12% 21%);
      padding: 1em;
      border-radius: .5rem;
      background: hsl(228 8% 10%);
      .content-title {
        font-weight: bold;
        text-transform:uppercase;
      }
      .actions {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        gap:1em;
        margin-block-start:1em;
        a {
          padding: 1em;
          border:1px solid hsl(226 12% 21%);
          text-decoration:none;
          color: hsl(0 0% 100%);
          white-space:nowrap;
        }
      }
    }
    .pulse {
      background: hsl(228 8% 10%);
      border-radius: .5rem;
      border:1px solid hsl(221 12% 21%);
      padding: 1em;
      gap:.5em;
      container-type:inline-size;
      display: grid;
      gap:1em;
      .top-row {
        display: flex;
        justify-content:space-between;
        align-content:center;
        .title {
          font-weight: bold;
        }
        .right {
          color: hsl(0 0% 50%);
          font-size: .8rem;
        }
      }
      .pulse-container {
        display: grid;
        gap:.5em;
        @container (width >= 20rem) {
          grid-template-columns:1fr 1fr;
        }
        .box {
          background: hsl(225 11% 16%);
          border:1px solid hsl(225 11% 26%);
          border-radius: .5rem;
          padding: .5em;
          .box-title {
            color: hsl(228 10% 70%);
          }
          .box-amount {
            font-size: 1.5rem;
            font-weight: 900;
          }
          .percentage {
            font-weight: bold;
          }
          &:nth-child(1) .percentage {
            color: hsl(148 65% 51%);
          }
          &:nth-child(2) .percentage {
            color: hsl(284 54% 67%);
          }
        }
      }
      .graph {
        color: hsl(0 0% 60%);
        .graph-header {
          display: flex;
          justify-content:space-between;
        }
        .bars {
          display: flex;
          gap:.2em;
          block-size:5rem;
          align-items:end;
          .bar {
            --from: .3;
            --to: 1;
            background: hsl(195 100% 50% / calc(var(--from) + (var(--to) - var(--from)) * (sibling-index() - 1) / (sibling-count() - 1)));
            flex:1;
            block-size:calc(6rem / (sibling-count() + 1) * (sibling-index() - .5));
            border-radius: .3rem;
          }
        }
      }
    }
  }
}

@media (width <= 80rem) {
  /* --- from: tokcss\includes\laptop.tokcss --- */
  main {
    grid-template-columns:repeat(2, 1fr);
    .articles {
      grid-column:1/-1;
    }
    .quick-actions {
      grid-column:1/-1;
    }
  }
}

@media (width <= 60rem) {
  /* --- from: tokcss\includes\tablet.tokcss --- */
  .layout {
    flex-direction:column;
    align-items:stretch;
    aside {
      inline-size:auto;
    }
  }

  .pulse {
    grid-column:1/-1;
  }
}

@media (width <= 40rem) {
  /* --- from: tokcss\includes\mobile.tokcss --- */
  header {
    position: relative;
    nav {
      display: none;
      position: absolute;
      inset-block-start:100%;
      inset-inline:0;
      ul {
        flex-direction:column;
        gap:0;
        li {
          a {
            margin: 0;
            border-radius: 0;
          }
        }
      }
    }
    .toggle-nav {
      display: block;
    }
    .user-options {
      display: none;
    }
    &:has(.toggle-nav[aria-expanded=true]) nav {
      display: block;
    }
  }
}

